<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
    @model form_sub.Models.Form
        <div>
        <h1>Success!!!!!!!!!!!!</h1>
        <h1>@Model.FName || @Model.LName</h1>
      
    
      
      
        
    
            
    
        </div>
</body>
</html>